body {
    padding:0px;
    margin: 0px;
    
}
.five {
    background-color: #1F2937;
    color: white;
    bottom: 0px;
    position: absolute;
    right: 0px;
    left: 0px;
    text-align: center;
    padding: 10px;

}
.four {
    background-color: yellow;

}
.three {
    background-color: green;


}

.two {
    background-color: orange;
}
.one {
    background-color:#1F2937;
    color: white;
    padding: 10px;
    padding-left:15%;
    padding-right: 15%;

}

.nav {
    float: right;

}
ul {
    list-style-type: none;
    overflow: hidden;
    margin:0;
    padding:0;
}
li a {
    display: block;
    padding:10px;
    text-decoration: none;
    color: #e5e7eb;
    font-size:18px;
}
li {
    float: right;
}
.logo {
    float:left;
    color: f9faf8;
    font: size 54px !important;
}
.hero-main {
    font-size:48px;
    font-weight: 900;
    color: #f9faf8;
}
.hero-sort{
    padding: 50px;
}
.hero-p {
    font-size: 18px;
    color: #e5e7eb;
}
input {
    background-color: #3882f6;
    color: white;
    padding:10px;
    text-align: center;
    border:none;
    border-radius:15px;
    width: 15%;
    margin:20px;
}
.hero-img {
    width:600px;
    float: right;
    height: 300px;
    margin-right:20px;
    
}
