body {
    padding:0px;
    margin: 0px;
    
}
.five {
    background-color: #1F2937;
    color: white;
    text-align: center;
    margin:0px;
    padding:20px;


}
.four {
    color: white

}
.three {
    background-color: #e5e7eb;
    padding: 50px;
    text-align: center;


}

.two {
    background-color: white;
    padding:200px;
    
}
.one {
    background-color:#1F2937;
    color: white;
    padding: 10px;
    padding-left:15%;
    padding-right: 15%;

}

.nav {
    float: right;

}
ul {
    list-style-type: none;
    overflow: hidden;
   
}
li a {
    display: block;
    padding:10px;
    text-decoration: none;
    color: #e5e7eb;
    font-size:18px;
}
li {
    float: right;
}
.logo {
    float:left;
    color: f9faf8;
    font: size 54px !important;
}
.hero-main {
    font-size:48px;
    font-weight: 900;
    color: #f9faf8;
}
.hero-sort{
    padding: 50px;
}
.hero-p {
    font-size: 18px;
    color: #e5e7eb;
}
input {
    background-color: #3882f6;
    color: white;
    padding:10px;
    text-align: center;
    border:none;
    border-radius:15px;
    width: 15%;
    margin:20px;
}
.hero-img {
    width:600px;
    float: right;
    height: 300px;
    margin-right:20px;
    
}
.obj {
    border: 5px solid #3882f6;
    border-radius:15px;
    width: 200px;
    height:200px;
    

}
.fourth-inner {
    padding: 30px;
    padding-left: 10%;
    padding-right: 10%;
    margin: 50px;
    background-color:#3882f6;
    border-radius: 20px;
   
}
